.popup__close-button {
    background: url(../../../images/close-icon.svg);
    background-position: 50%; 
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    transition: opacity 1s linear;
}

.popup__close-button:hover {
    cursor: pointer;
    border: none;
    opacity: 0.6;
}

@media (max-width: 510px) {
    .popup__close-button{
        top: -35px;
        right: -35px;
        width: 30px;
        height: 30px;
    }
}