.profile__job{
    font-size: 18px;
    line-height: 1.22;
    margin: 16px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 460px) {
    .profile__job {
        font-size: 14px;
        margin: 0px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}