.profile__edit-button {
    background: url(../../../images/pen.svg) no-repeat;
    background-position: 50%; 
    border: 1px solid #ffffff;
    width: 24px;
    height: 24px;
    box-shadow: none;
    align-self: center;
    transition: opacity 1s linear;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
} 



@media (max-width: 460px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
} 